<% if (title) { %>
<h1 class="det-title"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="formDiv">
    <form id="newClassForm" method="post">
        <h3>All fields are required</h3>
        <fieldset>
            <label for="classname">Classification Name
                <input type="text" id="classification_name" name="classification_name" title="Classification Name (Alphabetic Characters Only)" required pattern="^[a-zA-Z]+$" value="<%= locals.classification_name %>">
            </label>

            <button type="submit">Add Classification</button>
        </fieldset>
    </form>
</div>