<!-- WEEK 4 ASSIGNMENT -->
<% if (title) { %>
<h1 class="det-title"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<div class="manageDiv"><%- view %></div>

<h2>Manage Inventory</h2>
<p>Select a Classification to see which classification items belong to</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page</noscript>

<script src="/js/inventory.js"></script>